<h3>Video Checkout Confirmation</h3>

<% form_for([@video, @checkout_status]) do |f| %>
  <%= f.error_messages %>
  You are about to checkout video <%= @video.title %>. Are you sure you want to continue?
  <p>
    <%= f.submit 'Continue' %>  <%= link_to 'No, Return to Video collection', videos_path %>
  </p>
<% end %>

<%= link_to 'Back', checkout_statuses_path %>