	<h1>Listing videos</h1>

	<table>
	  <tr>
		<th>Title</th>
		<th>Category</th>
	  </tr>

	<% @videos.each do |video| %>
	  <tr>
		<td><%=h video.title %></td>
		<td><%=h video.category.name %></td>
		<td><%= link_to 'Details', video %></td>
		<td><%= link_to 'Edit', edit_video_path(video) %></td>
		<td><%= link_to 'Destroy', video, :confirm => 'Are you sure you want to remove the video from the list?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New video', new_video_path %>
