<div id="header">
  <%= image_tag("rental.jpg", :alt => "Header image", :width => 1000, :height => 120) %> <br />
    <% if signed_in? %>
	  <%= link_to "Home", home_path %>
      <%= link_to "Profile", current_user %>
    <% end %>
    <%= link_to "Help", root_path %>
    <% if signed_in? %>
      <%= link_to "Sign out", signout_path, :method => :delete %>
    <% end %>
</div>
